<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <title>want to contact me eh?</title>
  </head>
  <body>
    <div id="center">
      <span class="sub-keywords"> <a href="/"> (← go back) </a> </span>
      <h1>contact me</h1>
      <form onsubmit="return sendMail(<%= socials.gmail%>);">
        <h3>Use this to e-mail me!!</h3>
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" /> <br />
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" /> <br />
        <label for="subject">Subject:</label><br />
        <input type="text" id="subject" name="subject" /> <br />
        <label for="message">Message:</label><br />
        <textarea id="message" name="message"></textarea> <br />
        <input type="submit" value="Submit" title="pakka?" /> <br />
      </form>
      <h1>you can find me here</h1>
      <%- include('common/socials') %>
    </div>

    <!-- footer -->
    <%- include('common/footer') %>
    <script src="js/contact.js"></script>
  </body>
</html>
