<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <title>want to contact me eh?</title>
  </head>
  <body>
    <div id="center">
      <span class="sub-keywords"> <a href="/"> (← go back) </a> </span>
      <h1>contact me</h1>
      
    </div>
  </body>
</html>
