<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <title>The Unconcerned Ape</title>
  </head>
  <body>
    <div id="header">
      <div id="nav">
        <a href="">blog</a>
        <span>&middot;</span>
        <a href="">contact</a>
        <span>&middot;</span>
        <a href="">socials</a>
        <span>&middot;</span>
        <a href="">about</a>
      </div>
    </div>
    <div id="content">
      <p>
        <span class="bold">Hi, I'm Sai Vishnu (aka The Unconcerned Ape)!!</span>
        <br />
        <span class="smallest italic mono">Just a tech</span>
      </p>
      <p>Just a lost grain of sand from the beaches that were left behind.</p>
      <p>
        I'm a <%= current_age %> yo guy <%= status %> <br />
        I love <span class="keyword">Linux</span>
        <span class="mono smaller">(I use Arch btw!)</span>
      </p>
      <a href="">sample anchor tag</a>
    </div>
  </body>
</html>
