<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <title>The Unconcerned Ape</title>
  </head>
  <body>
    <div id="header">
      <div id="nav">
        <a href="">blog</a>
        <span>&middot;</span>
        <a href="">contact</a>
        <span>&middot;</span>
        <a href="">socials</a>
        <span>&middot;</span>
        <a href="">about</a>
      </div>
    </div>
    <div id="content">
      <p>
        <span class="bold">Hi, I'm Sai Vishnu (aka The Unconcerned Ape)</span>
        <br />
        <span class="smaller mono">Just a tech</span> <br />
        Just a lost grain of sand from the beaches that were left behind. W<br />

        I'm a <%= current_age %> yo guy <%= status %>
      </p>
      <br />
      <p>Here are few phrases/sentences that I randomly threw together:</p>
      <!-- TODO: Make the the long ahh text to be hidden and then show it only when the title is clicked. -->
      <ul class="smaller">
        <!-- computers -->
        <li>
          <span class="bullets">1.</span> I've been interested in
          <span class="keyword">computers</span> since I was a 15 year old kid.
          It all started when I got curious on why
          <span class="sub-keywords">int</span> can't store any value above
          <span class="sub-keywords">2147483647</span>. I was fascinated by the
          fact that a computer is very structured and everything that it does
          has a well thought out reason behind it.
          <span class="mono smaller">(I'm a nerd!)</span>
        </li>
        <!-- linux -->
        <li>
          <span class="bullets">2.</span> I love
          <span class="keyword">Linux</span>.
          <span class="bold smallest"
            >(GNU/Linux, or as I've recently taken to calling it, GNU plus
            Linux.)</span
          >
          I love the fact that it's open and I can customise it to my liking.
          The mere fact that I have some control on what my computer can do /
          does. I initially got into it mostly because I hated Windows 10. This
          is probably one of the best decisions I've ever made and I don't
          regret it a bit.
          <span class="mono smaller">(I use Arch btw!)</span>
        </li>
        <!-- why web dev lately -->
        <li>
          <span class="bullets">3.</span> I've been doing a lot of
          <span class="keyword">web dev</span> stuff lately. I think it's
          because I've been kinda demotivated lately and saw some quick timepass
          with web dev. I'm not sure if I'll stick with it though. Don't get me
          wrong. This is a very interesting field and I'm learning a lot of new
          stuff. But it's just not what I am aiming for my future to be
          <span class="bold smallest"
            >(mostly because I suck at UI/UX big time)</span
          >. I'm still trying to figure out what I want to do with my life.
          <span class="mono smaller"
            >(I liked Express, EJS and would like to know more about AWS!)</span
          >
        </li>
        <!-- passion -->
        <!-- want to learn/dream of a future in -->
        <!-- what I do in my free time -->
      </ul>
    </div>
  </body>
</html>
