@import url(https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow:regular);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #131516;
  color: #c4bfb8;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 23px;
  font-weight: 100;
  line-height: 1.4em;
  cursor: default;
}

#header,
#content,
#footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#header {
  margin-top: 15px;
  height: 182px;
  text-align: right;
  font-size: 30px;
  max-width: 870px;
  position: relative;
  width: calc(100% - 50px);
}

/* media query that converts the anchor tags inside a div to be block elements instead of inline when the device width is less than 560px */
@media screen and (max-width: 560px) {
  #header a {
    display: block;
  }
}

#header #nav {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

#header a {
  color: #c4bfb8;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

#header a:hover {
  color: #888;
  top: -3px;
}

#header img {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: -23px;
  width: 100px;
}

#content {
  padding: 15px 20px 20px 20px;
  width: calc(100% - 50px);
  text-align: center;
  border: 5px solid #333;
  border-radius: 25px;
  margin-bottom: 50px;
}

.title {
  font-family: "Rubik Doodle Shadow", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

#footer {
  max-width: 550px;
  text-align: center;
  padding-bottom: 80px;
}

.bold {
  font-weight: bold;
  font-size: 1.3rem;
}

.smallest {
  font-size: 0.7rem;
}

.smaller {
  font-size: 0.9rem;
}

.italic {
  font-style: italic;
}

.mono {
  font-family: monospace;
}

.keyword {
  cursor: cell;
  color: #da2e2e;
}

a {
  font-style: italic;
  color: #ff2e2e;
  text-decoration: underline;
  cursor: alias;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.3rem;
  line-height: 1.1em;
}

.bullets {
  color: #808080;
  /* un-selectable */
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  /* un-draggable */
  -webkit-user-drag: none; /* Chrome/Safari */
}

.sub-keywords {
  text-decoration: underline;
  font-style: italic;
}

.box {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #1a1a1a;
}

.border {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.quote {
  border-left: 5px solid #333;
  font-style: italic;
  padding-left: 1rem;
}

.underline {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.project-img {
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 0.5rem;
}

.right-side {
  float: right;
  margin-left: 1rem;
}
