<div id="footer">
  <p>
    Made with love
    <img src="images/footer/heart-with-pulse.png" alt="" /> by
    <a href="<%= socials.github %>" target="_blank">
      <span class="keyword"> a lovely human. </span>
    </a>
  </p>
</div>
